@charset "utf-8";
@import url(reset.css);
@import url(clearfix.css);

/***** init *****/
body {
  background: linear-gradient(crimson, 1%, black, 99%,  crimson);
  color: white;
}

#wrapper {
  height: 100vh;
  text-align: center;
}

.btn-real {
  display: inline-block;
  text-decoration: none;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  border-bottom: solid 2px #b5b5b5;
}

.btn-real i {
  line-height: 80px;
}

.btn-real:active {
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: none;
}

/***** #top *****/
#top {
  height: 25%;
}

#top ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* #top ul li {
} */

#start {
  /* color: rgba(105, 130, 27, 0.43); */
  color: rgba(107, 142, 35, 0.7);
  background-color: #203744;
  margin-right: 50px;
}

#stop {
  color: #0a0a0a;
  background-color: #b7282e;
}

#result {
  font-size: 20vmin;
  margin-left: 100px;
}

/***** #middle *****/
#middle {
  height: 50%;
}

#youtube {
  height: 100%;
  position: relative;
  padding: 0 25%;
  width: 0;
  overflow: hidden;
  margin: 0 auto;
}

#youtube iframe {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/***** #bottom *****/
#bottom {
  height: 25%;
}

#bottom ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}

/* #bottom ul li {
} */

#radioL,
#radioR {
  color: rgba(152, 152, 152, 0.43);
  background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
}

#radioL {
  margin-right: 20px;
}
